/************ Search ************/

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    height: 28vh;
    width: 100%;
    padding: 20px;
}
.recherche canvas {
    position: absolute;
    background-color: var(--tertary);
    z-index: -1;
    width: 100%;
    top: 0;
    left: 50%;
    height: 29vh;
    transform: translateX(-50%);
}
.search h1 {
    font-size: 25px;
    color: var(--secondary);
}
.search span {
    margin: 8px 0px 20px;
    color: var(--secondary);
    font-size: 15px;
}
.search-container {
    justify-content: center;
    display: flex;
    width: 100%;
}
.search-container button {
    width: 100%;
}
#search-button {
    border-radius: 50px;
    max-width: 400px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--gray-light);
    border: 3px solid var(--gray-light);
}
#search-button ion-icon {
    font-size: 20px;
    margin-left: 5px;
    color: var(--gray);
}
#search-button input {
    flex: 1;
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    width: 100%;
    background: none;
    border: none;
    color: var(--secondary);
    box-shadow: inset 0 0 0 32px var(--gray-light);
}
.recherche h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary);
}
.search-main {
    width: 100%;
    margin: 20px 30px;
    display: flex;
    flex-flow: row wrap;
}


.search-item {
    width: calc(25% - 3vw);
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease-in-out;
}
.search-item button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    cursor: pointer;
    border-radius: 10px;
}
.search-item button .search-image {
    height: 70%;
    width: auto;
    margin-top: 1.2vh;
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.search-item button .text {
    height: 20%;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

/************ Effet ************/

.search-item:hover {
    transform: translateY(-7px);
}

/************ Media Query ************/

@media screen and (max-width: 780px) {
    header {
        display: none;
    }
    .search,
    canvas {
        height: 15vh;
    }
    .search span,
    .search h1 {
        display: none;
    }
    .search-block {
        display: block;
    }
    .search-item {
        margin-bottom: 30px;
        width: 100%;
    }
}










/************ Scroll Bar ************/
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
  