/*library.css*/

body{
  background-color: white;
}

/*-----Carte-----*/
.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 23px;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .product-card {
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    width: calc(20% - 20px);
}

.product-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #f7f8fa 60%, var(--tertary) 50%);
    border-radius: 15px;
  }
  
  .product-image img {
    height: auto;
    width: 100%;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .product-name {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    color: black;
    font-size: 120%;
    font-weight: bold;
  }
  
#img{
  width: 100%;
  padding:10%;
}

.quantity-overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 130%;
  font-weight: bold;
}
  
  @media screen and (max-width: 780px) {
    .product-quantity {
      width: 80%;
    }
  }
  

  /*----Popup----*/

  .popup-overlay, .popup1-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.popup {
  background: #fff;
  padding: 6%;
  top: -9%;
  border-radius: 8px;
  max-width: 600px;
  position: relative;
  z-index: 1001; /* Vous pouvez augmenter cette valeur */
}

.popup1 {
  background: #fff;
  padding: 3%;
  top: -9%;
  border-radius: 8px;
  max-width: 600px;
  position: relative;
  z-index: 1001; /* Vous pouvez augmenter cette valeur */
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1002; /* Assurez-vous que c'est plus élevé que z-index de .popup et .popup1 */
}

.close {
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertary);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}



#adminput,
  #newProductName,
  #newProductImage {
    margin: 2% 0;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: var(--gray-light);
    border: 3px solid var(--gray-light);
    font-size: 120%;
    width: 100%;
    transition: border-color 0.3s ease;
    padding-left: 3%;
  }
  
  #adminput:focus,
  #newProductName:focus,
  #newProductImage:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  #adminbnt {
    text-align: center;
    background-color: var(--tertary);
    width: 35%;
    height: 10%;
    border-radius: 25px;
    margin-left: 30%;
    padding :3%;
    transition: background-color 0.3s ease;
    margin-top:8%;
    border: solid 3px white;
  }
  
  #adminbnt:hover {
    background-color: var(--primary);
    border: 3px solid var(--tertary);
    }
  
  #qrc {
    width: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
    text-align: center;
    border: black 2px solid;
  }
  
  .image-container,
  .nom-container,
  .quantite-container {
    flex: 1;
    width: 33%;
  }
  
  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px 5px;
  }
  
  .nom {
    font-size: 18px;
    font-weight: bold;
  }
  
  .quantite {
    font-size: 18px;
    font-weight: bold;
  }
  

@media screen and (max-width: 1200px) {
    .product-card {
        flex: 0 0 calc(25% - 20px); /* Quatre cartes par ligne pour des écrans de taille moyenne */
    }
}

@media screen and (max-width: 980px) {
    .product-card {
        flex: 0 0 calc(33.333% - 20px); /* Trois cartes par ligne pour des écrans plus petits */
    }
}

@media screen and (max-width: 780px) {
    .product-card {
        flex: 0 0 calc(50% - 20px);
    }

    .product-quantity {
        width: 80%; /* Ajustement de la largeur pour les écrans plus petits */
    }

    .product-quantity::before {
        display: block;
    }
}

@media screen and (min-width: 450px) {
    .product-quantity{
        font-size: 1em;
    }
}
