/* ProductCard.css */

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 23px;
    justify-content: space-around;
    align-items: flex-start;
}

.product-card {
    flex: 0 0 calc(20% - 20px); /* Utilisez flex-basis pour définir la largeur de chaque carte */
    margin: 10px;
}

.product-image img{
    height: auto;
    width: 100%;
}

.product-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.product-name {
    position: absolute;
    top: 10px; /* Ajustez la position verticale en conséquence */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.quantity-overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-quantity {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    width: 60%;
    font-size: 16px;
    font-weight: bold;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Valeur élevée pour s'assurer que le popup est au-dessus des autres éléments */
}

.popup {
    background: #fff;
    padding: 6%;
    top: -9%;
    border-radius: 8px;
    max-width: 600px;
    position: relative;
    z-index: 1001;
}

.close-container {
    position: absolute;
    top: 5px; /* Ajustez la position verticale en conséquence */
    right: 5px; /* Ajustez la position horizontale en conséquence */
    cursor: pointer;
}

.close {
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -25%; /* Ajustez la marge pour décaler légèrement la croix du cercle */
    margin-top: -25%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajustement ici */
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
    text-align: center;
    border: black 2px solid;
  }
  
  
  .image-container,
  .nom-container,
  .quantite-container {
    flex: 1;
    width: 33%;
  }
  
  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px 5px;
  }
  
  .nom {
    font-size: 18px;
    font-weight: bold;
  }
  
  .quantite {
    font-size: 18px;
    font-weight: bold;
  }
  


@media screen and (max-width: 780px) {
    .pf-lst-coeur{
        border-radius: 10px;
        position: absolute;
        margin-top: 38vh;
        margin-left: 2.5vw;
        width: 95vw;
        height:46vh;
       

    }
    .pf-gauche{
        width: 95vw;
        height: 30vh;
        margin-left: 2.5vw;
        position: absolute;
        background-color: white;
        border-radius: 10px;
    }
    .pf-nom{
        font-size: 8vw;
        margin-top: 11vh;
        margin-left: 50vw;
    }
    .pf-nbfav{
        padding-top: 0.5vh;
        text-align: center;
        font-size: 4vw;
    }
    .pf-nbfav{
        padding-top: 0.5vh;
        margin-left: 50vw;
       
    }
    .pf-imgjaune{
   
        
        margin-top: 15%;

    
    }
}