@media screen and (max-width: 500px) {

  .testimonials {
    display: flex;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 300px;
    perspective: 241px;
    overflow: hidden;
}
  
  .mycard {
      max-width: 100%; /* S'adapte à la largeur de l'écran */
  }

  .cardtitle {
      /* Les styles restent les mêmes, car ils sont déjà centrés et réactifs */
  }

  .cardimg {
      max-height: 4rem; /* Réduire la taille pour les petits écrans */
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;
  }

  .carddescription {
      /* Les styles restent les mêmes, car ils sont déjà centrés et réactifs */
  }

  .slider {
      min-height: auto; /* S'adapte au contenu à l'intérieur */
  }
  .titre-horaires {
      font-size: 18px; /* Réduire la taille de la police pour les petits écrans */
  }

  .tableau-horaires th,
  .tableau-horaires td {
      width: 4px; /* Réduire le padding pour les petits écrans */
  }

  .content-container {
      flex-direction: column; /* Empiler verticalement sur les petits écrans */
  }

  .youtube-container {
      width: 100%; /* S'adapte à la largeur de l'écran */
      height: auto; /* S'adapte au contenu à l'intérieur */
  }

  .testimonials .item {
      width: 100%; /* S'adapte à la largeur de l'écran */
      max-width: 100%; /* Assure que la largeur ne dépasse pas l'écran */
      transform: none; /* Supprime les transformations pour les petits écrans */
  }

  .testimonials .item img {
      /* Les styles restent les mêmes, car ils sont déjà adaptatifs */
  }

  .testimonials .item p,
  .testimonials .item h2 {
      font-size: 12px; /* Réduire la taille de la police pour les petits écrans */
  }

  .dots label {
      margin: 5px; /* Réduire la marge pour les petits écrans */
  }

  .tableau-container {
    margin-left: 10%;
    text-align: left; /* Alignement à droite */
  }
  
  
.tableau-horaires th {
  background-color: #0493c3; /* Rouge atténué pour les en-têtes */
  color: white;
  font-size: 11px;
  padding: 3px;
}

.tableau-horaires td {
  margin-left: 0 auto;
  font-size: 11px;
  border: 1px solid #ddd;
}

.youtube-container {
  flex-shrink: 0; /* Empêche le conteneur de rétrécir */
  height: 269px; /* Hauteur du conteneur */
}

.tableau-horaires tr:nth-child(even){background-color: #f2f2f2;}
.slider {
  width: 100%;

  min-height: 385px;
}
.youtube-container {
  flex-shrink: 0; /* Empêche le conteneur de rétrécir */
  height: 269px; /* Hauteur du conteneur */
}
}

@media screen and (min-width: 500px) {

  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 300px;
    perspective: 350px;
    overflow: hidden;
  }
  .youtube-container {
    flex-shrink: 0; /* Empêche le conteneur de rétrécir */
    width: 550px; /* Largeur du conteneur */
    height: 269px; /* Hauteur du conteneur */
  }
.tableau-container {
  margin-left: 50px;
  text-align: left; /* Alignement à droite */
}


.tableau-horaires th {
  background-color: #0493c3; /* Rouge atténué pour les en-têtes */
  color: white;
  padding: 8px;
}

.tableau-horaires td {
  padding: 8px;
  border: 1px solid #ddd;
}

.tableau-horaires tr:nth-child(even){background-color: #f2f2f2;}
.slider {
  width: 100%;

  min-height: 385px;
}
}

.titre-horaires {
  font-size: px;
  font-weight: bold;
  color: #d35400; /* Couleur personnalisée pour le titre */
  margin-bottom: 10px;
  display: inline-block; /* Pour aligner le titre avec le tableau */
}



.mycard {
  height: 100%;
  width: 100%;
  max-width: 24rem;
}

.cardtitle {
  font-weight: bold;
  --tw-text-opacity: 1;
  color: red;
  text-align: center;
}


.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  max-height: 6rem;
  border-radius: 9999px;
}
.carddescription {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, 0.79);
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* Styles existants pour .tableau-horaires et autres */
.slider input {
  display: none;
}

.testimonials .item {
  max-width: 15rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  position: absolute;
  box-sizing: border-box;
  padding : 3px;
  background-color: #fff;
  width: 450px;
  text-align: center;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.527);
  user-select: none;
  cursor: pointer;
}
.testimonials .item img {
  border-radius: 50%;
  border: 13px solid #3b344d;
}
.testimonials .item p {
  color: rgba(0, 0, 0, 0.79);
}
.testimonials .item h2 {
  font-size: 14px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  cursor: pointer;
  background-color: grey;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);

  z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
}
#t-1:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(1500px) translateZ(-450px) translateY(-75px);
  z-index: 0;
}
#t-1:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(1800px) translateZ(-540px) translateY(-90px);
  z-index: 0;
}
#t-1:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(2100px) translateZ(-630px) translateY(-105px);
  z-index: 0;
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}
#t-2:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
  z-index: 0;
}
#t-2:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(1500px) translateZ(-450px) translateY(-75px);
  z-index: 0;
}
#t-2:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(1800px) translateZ(-540px) translateY(-90px);
  z-index: 0;
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-3:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}
#t-3:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
  z-index: 0;
}
#t-3:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(1500px) translateZ(-450px) translateY(-75px);
  z-index: 0;
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-4:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}
#t-4:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
  z-index: 0;
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}
#t-5:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}

/* Sixth */
#t-6:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-6:checked ~ .dots label[for="t-6"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-6:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1500px) translateZ(-450px) translateY(-75px);
}
#t-6:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
  z-index: 0;
}
#t-6:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}
#t-6:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-6:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-6:checked ~ .testimonials label[for="t-6"] {
  z-index: 3;
}
#t-6:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-6:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}

/* Seventh */
#t-7:checked ~ .dots label[for="t-6"] {
  transform: scale(1.5);
}
#t-7:checked ~ .dots label[for="t-7"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-7:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1800px) translateZ(-540px) translateY(-90px);
}
#t-7:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-1500px) translateZ(-450px) translateY(-75px);
  z-index: 0;
}
#t-7:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
  z-index: 0;
}
#t-7:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}
#t-7:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-7:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-7:checked ~ .testimonials label[for="t-7"] {
  z-index: 3;
}
#t-7:checked ~ .testimonials label[for="t-8"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

/* Eighth */
#t-8:checked ~ .dots label[for="t-7"] {
  transform: scale(1.5);
}
#t-8:checked ~ .dots label[for="t-8"] {
  transform: scale(2);
  background-color: #0493c3;
}
#t-8:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-2100px) translateZ(-630px) translateY(-105px);
}
#t-8:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-1800px) translateZ(-540px) translateY(-90px);
  z-index: 0;
}
#t-8:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-1500px) translateZ(-450px) translateY(-75px);
  z-index: 0;
}
#t-8:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
  z-index: 0;
}
#t-8:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 0;
}
#t-8:checked ~ .testimonials label[for="t-6"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}
#t-8:checked ~ .testimonials label[for="t-7"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}
#t-8:checked ~ .testimonials label[for="t-8"] {
  z-index: 3;
}